name: Deploy Next.js to VPS

on:
  push:
    branches:
      - main  # Hangi branch'e push yapınca çalışsın?

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            export PATH=$PATH:/usr/bin:/usr/local/bin
            cd ~/jepjat-mini-app
            git pull origin main
            npm install
            npm run build
            pm2 restart jepjat-app || pm2 start npm --name "jepjat-app" -- start